<div class="red-bg">
  <div class="row">
    <div class="col-sm-3">
      <ul class="ch-grid">
        <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s">
          <div class="ch-item"> 
            <div class="ch-info">
              <h3>Mesha</h3>
              <a href="#" data-toggle="modal" data-target="#mesha">Read more</a>
              <%= image_tag( "rasilogos/mesh.png",  class: "img-responsive") %>

            </div>
          </div>
        </li>
        <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s">
          <div class="ch-item"> 
            <div class="ch-info">
              <h3>Vrushabha</h3>
              <a href="#" data-toggle="modal" data-target="#vrushabha">Read more</a>
              <%= image_tag( "rasilogos/vrushabha.png",  class: "img-responsive") %>

            </div>
          </div>
        </li>

        <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s">
          <div class="ch-item"> 
            <div class="ch-info">
              <h3>Mithuna</h3>
              <a href="#" data-toggle="modal" data-target="#mithun">Read more</a>
              <%= image_tag( "rasilogos/mithun.png",  class: "img-responsive") %>

            </div>
          </div>
        </li>
        
        <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s">
          <div class="ch-item"> 
            <div class="ch-info">
              <h3>Karkataka</h3>
              <a href="#" data-toggle="modal" data-target="#karka">Read more</a>
              <%= image_tag( "rasilogos/karka.png",  class: "img-responsive") %>

            </div>
          </div>
        </li>

        <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s">
          <div class="ch-item"> 
            <div class="ch-info">
              <h3>Simha</h3>
              <a href="#" data-toggle="modal" data-target="#singh">Read more</a>
              <%= image_tag( "rasilogos/singh.png",  class: "img-responsive") %>

            </div>
          </div>
        </li>

        <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s">
          <div class="ch-item"> 
            <div class="ch-info">
              <h3>Kanya</h3>
              <a href="#" data-toggle="modal" data-target="#kanya">Read more</a>
              <%= image_tag( "rasilogos/kanya.png",  class: "img-responsive") %>

            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-sm-6 " style="padding-top: 30px;">
      <%= image_tag "wheel.png", size: '350x350', class: "img-responsive", id: "img-rotate",style: "margin: 0px auto 0 auto; display: block;" %>

      <%= image_tag "lingam.png",size: '200x200', class: "img-responsive img-circle", style: "top:200px; left: 200px;",style: "position:relative; display: block; margin: -250px auto 0 auto;" %>

      <div class="jumbotron appointment" style="margin-top: 65px;">
        <h3>Appointment Form</h3>
        <%= form_tag '/create_appointments', method: :post do %>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <%= text_field_tag :surname, "",class: "form-control" ,placeholder: "SurName"%>
            </div>
            <div class="col-sm-6">                      
              <%= text_field_tag :name, "",class: "form-control" ,placeholder: "Name"%>
            </div>
          </div>
        </div>  
        <div class="form-group">                      
          <div class="row">
            <div class="col-sm-6">
              <%= date_field_tag :date_of_birth, "",class: "form-control col-sm-6" ,placeholder: "Date of Birth"%>
            </div>
            <div class="col-sm-6">                      
              <%= time_field_tag :time_of_birth, "",class: "form-control col-sm-6" ,placeholder: "Time of Birth"%>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <%= text_field_tag :place_of_birth, "",class: "form-control col-sm-6" ,placeholder: "Place of Birth"%>
            </div>
          
            <div class="col-sm-6">                     
              <%= email_field_tag :email, "",class: "form-control col-sm-6" ,placeholder: "Email"%>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <%= telephone_field_tag :phone, "",class: "form-control col-sm-6" ,placeholder: "Phone", :minlength => 10, :maxlength => 10, :size => 10, pattern: "^[0-9]*$"%>
            </div>

            <div class="col-sm-6">                    
              <%= text_area_tag :address, "",class: "form-control col-sm-6" ,placeholder: "Address"%>
            </div>
          </div>
        </div>

        <div class="form-group">                    
          <div class="row">
            <div class="col-sm-6">
            <%= text_area_tag :reason, "",class: "form-control col-sm-6" ,placeholder: "Cause for appointment"%>
          </div>
          <div class="col-sm-6">                      
            <%= text_field_tag :pay_amount, "",class: "form-control col-sm-6" ,placeholder: "Pay Amount"%>
          </div>
        </div>
      </div>
          <div class="pull-right">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        <% end %>
      </div> 

      <section id="about" class="about-section row">  
        <div class="col-sm-12">         
          <h1 class="page-header">About us</h1>        

          <p>The <strong>Sri Saii Laharri</strong> numerology and astrology centre website launched on april8th2016  by <strong>DR.SRIPATNAIK NARAAYANAA</strong> who did MBA after Bsc with dual specialization of marketing &International Marketing .Fortunately, I became a Astro-Numerologist having wide experience of 11 years. By recognizing my talent in numerology,Astrology and Vaastu, I was given <strong>lifemembership in 25th international seminar-2015</strong> under the auspicious of <strong>Institute of vedic culture for public welfare &KRISHNA MURTI INSTITUTE OF ASTROLOGY KOLKATA AND MY REGISTERED SERIAL NO. KIA/LM/0124 </strong>. I have received a  DOCTORATE on January 24th 2016 .I also feel proud to be added as a member in <strong>www.worldastrologersdirectory.com</strong> - vedic numerology you  can watch my profile. This site belongs all facilities like numerology, astrology, vaastu, products, remedies, matrimony, pandit booking block, mantras, babynames and also special feature sweetmemories block.</p>

          <p>The customer can enjoy with a <strong>free login</strong> and also <strong>Life Membership</strong>  in android mobile. Free login customer can enjoy  some fields only, after wards if he decided to become a life member he can pay through payroll option.</p>

          <h3><a href="#" data-toggle="modal" data-target="#about-us"><b>Read more...</b></a></h3>

        </div>  
      </section>

      <section id="contact" class="contact-section">


        <div class="row">          
          <div class="col-md-6">
            <h1 class="page-header">Contact Section</h1>
            <address  class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s">
              Dr. Sri Patnaik Naraayanaa MBA Astro – Numerologist<br>
              Door No: 13-9-14/5, Kaki street,<br>
              Near Kinnera Theatre <br>
              Srikakulam<br>
              Phone: 7382118129, 9676038528, 7013170502<br>
              Andhra Pradesh - 532001<br><br>

              <!-- <strong>Email: </strong> example@gmail.com<br>
              <strong>Phone: </strong> 9988xxxxxx -->
            </address>
          </div>
        </div>
        
      </section>
    </div>
    <div class="col-sm-3">
      <ul class="ch-grid">
        <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s">
          <div class="ch-item"> 
            <div class="ch-info">
              <h3>Tula</h3>
              <a href="#" data-toggle="modal" data-target="#tula">Read more</a>
              <%= image_tag( "rasilogos/tula.png",  class: "img-responsive") %>

            </div>
          </div>
        </li>
        <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s">
          <div class="ch-item"> 
            <div class="ch-info">
              <h3>Vrishchik</h3>
              <a href="#" data-toggle="modal" data-target="#vrishchik">Read more</a>
              <%= image_tag( "rasilogos/vrishchik.png",  class: "img-responsive") %>

            </div>
          </div>
        </li>

        <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s">
          <div class="ch-item"> 
            <div class="ch-info">
              <h3>Dhanush</h3>
              <a href="#" data-toggle="modal" data-target="#dhanu">Read more</a>
              <%= image_tag( "rasilogos/dhanu.png",  class: "img-responsive") %>

            </div>
          </div>
        </li>
        
        <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s">
          <div class="ch-item"> 
            <div class="ch-info">
              <h3>Makara</h3>
              <a href="#" data-toggle="modal" data-target="#makara">Read more</a>
              <%= image_tag( "rasilogos/makara.png",  class: "img-responsive") %>

            </div>
          </div>
        </li>

        <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s">
          <div class="ch-item"> 
            <div class="ch-info">
              <h3>Kumbha</h3>
              <a href="#" data-toggle="modal" data-target="#kumbh">Read more</a>
              <%= image_tag( "rasilogos/kumbh.png",  class: "img-responsive") %>

            </div>
          </div>
        </li>

        <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s">
          <div class="ch-item"> 
            <div class="ch-info">
              <h3>Meena</h3>
              <a href="#" data-toggle="modal" data-target="#meena">Read more</a>
              <%= image_tag( "rasilogos/meen.png",  class: "img-responsive") %>

            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

<div class="modal fade " id="mesha" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Mesh</h4>
        </div> -->
        <div class="modal-body">
          <%= image_tag( "rasilogos/mesharasi-01.jpg",  class: "img-responsive") %>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade " id="vrushabha" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Mesh</h4>
        </div> -->
        <div class="modal-body">
          <%= image_tag( "rasilogos/vrushabha-02.jpg",  class: "img-responsive") %>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade " id="mithun" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Mesh</h4>
        </div> -->
        <div class="modal-body">
          <%= image_tag( "rasilogos/midhunam-03.jpg",  class: "img-responsive") %>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade " id="karka" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Mesh</h4>
        </div> -->
        <div class="modal-body">
          <%= image_tag( "rasilogos/karkataka-04.jpg",  class: "img-responsive") %>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade " id="singh" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Mesh</h4>
        </div> -->
        <div class="modal-body">
          <%= image_tag( "rasilogos/simha-05.jpg",  class: "img-responsive") %>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade " id="kanya" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Mesh</h4>
        </div> -->
        <div class="modal-body">
          <%= image_tag( "rasilogos/kanya-06.jpg",  class: "img-responsive") %>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade " id="tula" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Mesh</h4>
        </div> -->
        <div class="modal-body">
          <%= image_tag( "rasilogos/tula-07.jpg",  class: "img-responsive") %>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade " id="vrishchik" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Mesh</h4>
        </div> -->
        <div class="modal-body">
          <%= image_tag( "rasilogos/vruschika-08.jpg",  class: "img-responsive") %>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade " id="dhanu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Mesh</h4>
        </div> -->
        <div class="modal-body">
          <%= image_tag( "rasilogos/dhanush-09.jpg",  class: "img-responsive") %>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade " id="makara" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Mesh</h4>
        </div> -->
        <div class="modal-body">
          <%= image_tag( "rasilogos/makara-10.jpg",  class: "img-responsive") %>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade " id="kumbh" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Mesh</h4>
        </div> -->
        <div class="modal-body">
          <%= image_tag( "rasilogos/kumbam-11.jpg",  class: "img-responsive") %>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
        </div>
      </div>
    </div>
  </div>

    <div class="modal fade " id="meena" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Mesh</h4>
        </div> -->
        <div class="modal-body">
          <%= image_tag( "rasilogos/meena-12.jpg",  class: "img-responsive") %>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade " id="about-us" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content appointment">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">About Us</h4>
        </div>
        <div class="modal-body ">
          <p>The <strong>Sri Saii Laharri</strong> numerology and astrology centre website launched on april8th2016  by <strong>DR.SRIPATNAIK NARAAYANAA</strong> who did MBA after Bsc with dual specialization of marketing &International Marketing .Fortunately, I became a Astro-Numerologist having wide experience of 11 years. By recognizing my talent in numerology,Astrology and Vaastu, I was given <strong>lifemembership in 25th international seminar-2015</strong> under the auspicious of <strong>Institute of vedic culture for public welfare &KRISHNA MURTI INSTITUTE OF ASTROLOGY KOLKATA AND MY REGISTERED SERIAL NO. KIA/LM/0124 </strong>. I have received a  DOCTORATE on January 24th 2016 .I also feel proud to be added as a member in <strong>www.worldastrologersdirectory.com</strong> - vedic numerology you  can watch my profile. This site belongs all facilities like numerology, astrology, vaastu, products, remedies, matrimony, pandit booking block, mantras, babynames and also special feature sweetmemories block.</p>

          <p>The customer can enjoy with a <strong>free login</strong> and also <strong>Life Membership</strong>  in android mobile. Free login customer can enjoy  some fields only, after wards if he decided to become a life member he can pay through payroll option.</p>

          <p>If once you become a life member you will get a life time free service, so your lifesign profile will be updated for every two months and for numerology, lifesign, you will get 4 pdf files ,in that we wil cover name correction pdf, lifesign,stone,6years predictions. Matrimony is a highlighted option in our site, in this matrimony u can check the matching and original data of my client in a free option and also u can choose your favourate  matching patner with points and with numerology matching also. If u want the address details of my  client you must become a life member of my site then only u will get remaining data. If once you become a life member in our website you will get contact numbers and addresses . you have a pandit option also to book a near by  pandit from our site if you are interested. once the wedding card was printed we will post the free ad of your wedding card in our site from admin. Here the couple need to pay 1% amount to our institute through pay role option from our site.  If suppose  they fail to pay 1%percent amount after marriage the customer page will be  blocked and the customers references of the particular pages will be cancelled with all promo codes. So they are not eligible for next process in our site. Vaastu , mantras, remedies blocks also you can enjoy more.</p>

          <p>Another special feature is sweet memories specially added for students and also employees .In this block we concentrated  on students for get together the students below 24 yrs age can generate the profile in free to create their group to chat with their school or college mate friends. particularly the students who are facing problem for studies, job, love failure, careerstep we can guide them in a good way, if they attend for counseling and also they can ask any queries to pandit about their career in free of cost.if suppose if the student is not able to settled in their life before 25years then they can join as a life membership to know about their career In detail. </p>

          <p>I hope my website will show u a colorful life to every customer and I pray my god shiridi sai baba to give me energy to do nice service to my customer god.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
        </div>
      </div>
    </div>
  </div>

  <div id="gallery" class="row">
    <div class="col-sm-12">
      <div class="carousel fdi-Carousel slide">
        <!-- Carousel items -->
        <div class="carousel fdi-Carousel slide" id="eventCarousel" data-interval="0">
          <div class="carousel-inner onebyone-carosel">              
            <div class="item active">
              <div class="col-md-4">
                <a href="#"><%= image_tag "slide1.jpg", heigth: '250px', class: 'img-responsive center-block'%></a>                    
              </div>
            </div>

            <div class="item">
              <div class="col-md-4">
                <a href="#"><%= image_tag "slide2.jpg", heigth: '250px', class: 'img-responsive center-block'%></a>                    
              </div>
            </div>
            <div class="item">
              <div class="col-md-4">
                <a href="#"><%= image_tag "slider1.jpg", heigth: '250px', class: 'img-responsive center-block'%></a>                    
              </div>
            </div>
            <div class="item">
              <div class="col-md-4">
                <a href="#"><%= image_tag "explain.jpg", heigth: '250px', class: 'img-responsive center-block'%></a>                    
              </div>
            </div>
            <div class="item">
              <div class="col-md-4">
                <a href="#"><%= image_tag "exhibition.jpg", heigth: '250px', class: 'img-responsive center-block'%></a>                    
              </div>
            </div>
            <div class="item">
              <div class="col-md-4">
                <a href="#"><%= image_tag "slider2.jpg", heigth: '250px', class: 'img-responsive center-block'%></a>                    
              </div>
            </div>
            <div class="item">
              <div class="col-md-4">
                <a href="#"><%= image_tag "image7.jpg", heigth: '250px', class: 'img-responsive center-block'%></a>                    
              </div>
            </div>
            <div class="item">
              <div class="col-md-4">
                <a href="#"><%= image_tag "image8.jpg", heigth: '250px', class: 'img-responsive center-block'%></a>                    
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#eventCarousel" data-slide="prev"></a>
          <a class="right carousel-control" href="#eventCarousel" data-slide="next"></a>
        </div>
        <!--/carousel-inner-->
      </div><!--/myCarousel-->
    </div>
  </div>
</div>