<div class="red-bg">



  <div class="row">
    <div class="col-sm-3">
      <ul class="ch-grid">
        <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s">
          <div class="ch-item"> 
            <div class="ch-info">
              <h3>Mesha</h3>
              <a href="#" data-toggle="modal" data-target="#mesha">Read more</a>
              <%= image_tag( "rasilogos/mesh.png",  class: "img-responsive rashi") %>

            </div>
          </div>
        </li>
        <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s">
          <div class="ch-item"> 
            <div class="ch-info">
              <h3>Vrushabha</h3>
              <a href="#" data-toggle="modal" data-target="#vrushabha">Read more</a>
              <%= image_tag( "rasilogos/vrushabha.png",  class: "img-responsive rashi") %>

            </div>
          </div>
        </li>

        <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s">
          <div class="ch-item"> 
            <div class="ch-info">
              <h3>Mithuna</h3>
              <a href="#" data-toggle="modal" data-target="#mithun">Read more</a>
              <%= image_tag( "rasilogos/mithun.png",  class: "img-responsive rashi") %>

            </div>
          </div>
        </li>
        
        <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s">
          <div class="ch-item"> 
            <div class="ch-info">
              <h3>Karkataka</h3>
              <a href="#" data-toggle="modal" data-target="#karka">Read more</a>
              <%= image_tag( "rasilogos/karka.png",  class: "img-responsive rashi") %>

            </div>
          </div>
        </li>

        <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s">
          <div class="ch-item"> 
            <div class="ch-info">
              <h3>Simha</h3>
              <a href="#" data-toggle="modal" data-target="#singh">Read more</a>
              <%= image_tag( "rasilogos/singh.png",  class: "img-responsive rashi") %>

            </div>
          </div>
        </li>

        <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s">
          <div class="ch-item"> 
            <div class="ch-info">
              <h3>Kanya</h3>
              <a href="#" data-toggle="modal" data-target="#kanya">Read more</a>
              <%= image_tag( "rasilogos/kanya.png",  class: "img-responsive rashi") %>

            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-sm-6 " style="padding-top: 30px;">
      <%= image_tag "wheel.png", size: '350x350', class: "img-responsive", id: "img-rotate",style: "margin: 0px auto 0 auto; display: block;" %>

      <%= image_tag "lingam.png",size: '200x200', class: "img-responsive img-circle", style: "top:200px; left: 200px;",style: "position:relative; display: block; margin: -250px auto 0 auto;" %>

      
    <section id="about" class="about-section row">
        
    <h3>Appointment Form - <a href="#" data-toggle="modal" data-target="#appointment_form">click here</a></h3>
    <h3>Renewal Form - <a href="#" data-toggle="modal" data-target="#renewal_form">click here</a></h3>

    <!-- </section>
      

      <section id="about" class="about-section row">   -->
        <div class="col-sm-12">         
          <h1 class="page-header">About us</h1>        

          <p>The <strong>Sri Saii Laharri</strong> numerology and astrology centre website launched on april8th2016  by <strong>DR.SRIPATNAIK NARAAYANAA</strong> who did MBA after Bsc with dual specialization of marketing &International Marketing .Fortunately, I became a Astro-Numerologist having wide experience of 11 years. By recognizing my talent in numerology,Astrology and Vaastu, I was given <strong>lifemembership in 25th international seminar-2015</strong> under the auspicious of <strong>Institute of vedic culture for public welfare &KRISHNA MURTI INSTITUTE OF ASTROLOGY KOLKATA AND MY REGISTERED SERIAL NO. KIA/LM/0124 </strong>. I have received a  DOCTORATE on January 24th 2016 .I also feel proud to be added as a member in <strong>www.worldastrologersdirectory.com</strong> - vedic numerology you  can watch my profile. This site belongs all facilities like numerology, astrology, vaastu, products, remedies, matrimony, pandit booking block, mantras, babynames and also special feature sweetmemories block.</p>

          <p>The customer can enjoy with a <strong>free login</strong> and also <strong>Life Membership</strong>  in android mobile. Free login customer can enjoy  some fields only, after wards if he decided to become a life member he can pay through payroll option.</p>

          <h3><a href="#" data-toggle="modal" data-target="#about-us"><b>Read more...</b></a></h3>

        </div>  
      </section>
      

      <section id="contact" class="contact-section">


        <div class="row">          
          <div class="col-md-6">
            <h1 class="page-header">Contact Section</h1>
            <address  class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s">
              Dr. Sri Patnaik Naraayanaa MBA Astro – Numerologist<br>
              Door No: 13-9-14/5, Kaki street,<br>
              Near Kinnera Theatre <br>
              Srikakulam<br>
              Phone: 7382118129, 9676038528, 7013170502<br>
              Andhra Pradesh - 532001<br>
              <!-- <p><a href="https://www.google.com/maps/place/Sri+Sai+Lahari+Numerology+%26+Astrology+Center/@18.2883722,83.8959202,15z/data=!4m5!3m4!1s0x0:0x97ce55f536de718d!8m2!3d18.2883722!4d83.8959202" target="_blank"><i class="fa fa-3x fa-map-marker"></i></a> <a href="https://www.google.com/maps/place/Sri+Sai+Lahari+Numerology+%26+Astrology+Center/@18.2883722,83.8959202,15z/data=!4m5!3m4!1s0x0:0x97ce55f536de718d!8m2!3d18.2883722!4d83.8959202" target="_blank"><i class="fa fa-3x fa-facebook-square"></i></a> <a href="https://www.google.com/maps/place/Sri+Sai+Lahari+Numerology+%26+Astrology+Center/@18.2883722,83.8959202,15z/data=!4m5!3m4!1s0x0:0x97ce55f536de718d!8m2!3d18.2883722!4d83.8959202" target="_blank"><i class="fa fa-3x fa-youtube-square"></i></a></p> -->

              <br><br>
              <!-- <strong>Email: </strong> example@gmail.com<br>
              <strong>Phone: </strong> 9988xxxxxx -->
            </address>
          </div>
          <div class="col-sm-6">
            <!-- <br><br> -->
            <!-- <br> -->
            <h1 class="page-header">My Videos</h1>
            <p style="font-size: 16px"><b>Satyavaram Pandit Speech:</b>
              <br>
              <!-- Please find the below links: --><br>
              <a href="https://youtu.be/5O9DtfI4BBs" target="_blank" ><u>Speech 1</u></a>
              <a href="https://youtu.be/WU2ENPlk_zc" target="_blank"  class=""><u>Speech 2</u></a>
              <a href="https://youtu.be/RlQVFHKiFA4"  target="_blank" class=""><u>Speech 3</u></a>
            </p>

            <p style="font-size: 16px"><b>Remedies and tips in Astrology:</b>
              <br>
              <a href="https://youtu.be/PauJcjTgWgs" target="_blank" ><u>Graha Marriage Job Problem Remidies</u></a><br>
              <a href="https://youtu.be/CWK5ENUBZ-Y" target="_blank"  class=""><u>Temple Remedies for Graha Problems</u></a><br>
              <a href="https://youtu.be/mI1wTywe9sA"  target="_blank" class=""><u>Job Problem Remidies</u></a>
            </p>
            <p style="font-size: 16px"><b>Astro Vastu Exhibition:</b>
              <br>
              <a href="https://youtu.be/SCaEAO1EbGc" target="_blank" ><u>Astro Vastu exhibition May 10</u></a><br>
              <!-- <a href="https://youtu.be/5O9DtfI4BBs" target="_blank"  class=""><u>Speech 2</u></a> -->
              <a href="https://youtu.be/zjEpKkrGPgY"  target="_blank" class=""><u>Astro Vastu Exhibition in AP</u></a>
            </p>
            <p style="font-size: 16px"><b>Dr. Sri Ptnaik videos:</b>
              <br>
              <a href="https://youtu.be/IGdhS0ctHXI" target="_blank"> <u>Lottery ticket purchase secret</u></a> <br>
              <a href="https://www.youtube.com/watch?v=uHYgLVzroFY" target="_blank"> <u>Identify your vehicle number is either good or bad</u></a><br>
              <a href="https://youtu.be/-z9zdS9lYGk" target="_blank"> <u>Why students face failures in educational career?</u></a> <br>
              <a href="https://youtu.be/Oj-rKnw3k90"><u>My PhD Videos</u></a>
              
            </p>
          </div>
        </div>
        
      </section>
    </div>
    <div class="col-sm-3">
      <ul class="ch-grid">
        <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s">
          <div class="ch-item"> 
            <div class="ch-info">
              <h3>Tula</h3>
              <a href="#" data-toggle="modal" data-target="#tula">Read more</a>
              <%= image_tag( "rasilogos/tula.png",  class: "img-responsive  rashi") %>

            </div>
          </div>
        </li>
        <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s">
          <div class="ch-item"> 
            <div class="ch-info">
              <h3>Vrishchik</h3>
              <a href="#" data-toggle="modal" data-target="#vrishchik">Read more</a>
              <%= image_tag( "rasilogos/vrishchik.png",  class: "img-responsive  rashi") %>

            </div>
          </div>
        </li>

        <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s">
          <div class="ch-item"> 
            <div class="ch-info">
              <h3>Dhanush</h3>
              <a href="#" data-toggle="modal" data-target="#dhanu">Read more</a>
              <%= image_tag( "rasilogos/dhanu.png",  class: "img-responsive  rashi") %>

            </div>
          </div>
        </li>
        
        <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s">
          <div class="ch-item"> 
            <div class="ch-info">
              <h3>Makara</h3>
              <a href="#" data-toggle="modal" data-target="#makara">Read more</a>
              <%= image_tag( "rasilogos/makara.png",  class: "img-responsive  rashi") %>

            </div>
          </div>
        </li>

        <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s">
          <div class="ch-item"> 
            <div class="ch-info">
              <h3>Kumbha</h3>
              <a href="#" data-toggle="modal" data-target="#kumbh">Read more</a>
              <%= image_tag( "rasilogos/kumbh.png",  class: "img-responsive  rashi") %>

            </div>
          </div>
        </li>

        <li class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0s">
          <div class="ch-item"> 
            <div class="ch-info">
              <h3>Meena</h3>
              <a href="#" data-toggle="modal" data-target="#meena">Read more</a>
              <%= image_tag( "rasilogos/meen.png",  class: "img-responsive  rashi") %>

            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

<div class="modal fade " id="mesha" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Mesh</h4>
        </div> -->
        <div class="modal-body">
          <%= image_tag( "rasilogos/mesharasi-01.jpg",  class: "img-responsive") %>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade " id="vrushabha" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Mesh</h4>
        </div> -->
        <div class="modal-body">
          <%= image_tag( "rasilogos/vrushabha-02.jpg",  class: "img-responsive") %>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade " id="mithun" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Mesh</h4>
        </div> -->
        <div class="modal-body">
          <%= image_tag( "rasilogos/midhunam-03.jpg",  class: "img-responsive") %>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade " id="karka" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Mesh</h4>
        </div> -->
        <div class="modal-body">
          <%= image_tag( "rasilogos/karkataka-04.jpg",  class: "img-responsive") %>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade " id="singh" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Mesh</h4>
        </div> -->
        <div class="modal-body">
          <%= image_tag( "rasilogos/simha-05.jpg",  class: "img-responsive") %>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade " id="kanya" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Mesh</h4>
        </div> -->
        <div class="modal-body">
          <%= image_tag( "rasilogos/kanya-06.jpg",  class: "img-responsive") %>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade " id="tula" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Mesh</h4>
        </div> -->
        <div class="modal-body">
          <%= image_tag( "rasilogos/tula-07.jpg",  class: "img-responsive") %>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade " id="vrishchik" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Mesh</h4>
        </div> -->
        <div class="modal-body">
          <%= image_tag( "rasilogos/vruschika-08.jpg",  class: "img-responsive") %>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade " id="dhanu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Mesh</h4>
        </div> -->
        <div class="modal-body">
          <%= image_tag( "rasilogos/dhanush-09.jpg",  class: "img-responsive") %>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade " id="makara" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Mesh</h4>
        </div> -->
        <div class="modal-body">
          <%= image_tag( "rasilogos/makara-10.jpg",  class: "img-responsive") %>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade " id="kumbh" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Mesh</h4>
        </div> -->
        <div class="modal-body">
          <%= image_tag( "rasilogos/kumbam-11.jpg",  class: "img-responsive") %>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
        </div>
      </div>
    </div>
  </div>

    <div class="modal fade " id="meena" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Mesh</h4>
        </div> -->
        <div class="modal-body">
          <%= image_tag( "rasilogos/meena-12.jpg",  class: "img-responsive") %>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade " id="about-us" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content appointment">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">About Us</h4>
        </div>
        <div class="modal-body ">
          <p>The <strong>Sri Saii Laharri</strong> numerology and astrology centre website launched on april8th2016  by <strong>DR.SRIPATNAIK NARAAYANAA</strong> who did MBA after Bsc with dual specialization of marketing &International Marketing .Fortunately, I became a Astro-Numerologist having wide experience of 11 years. By recognizing my talent in numerology,Astrology and Vaastu, I was given <strong>lifemembership in 25th international seminar-2015</strong> under the auspicious of <strong>Institute of vedic culture for public welfare &KRISHNA MURTI INSTITUTE OF ASTROLOGY KOLKATA AND MY REGISTERED SERIAL NO. KIA/LM/0124 </strong>. I have received a  DOCTORATE on January 24th 2016 .I also feel proud to be added as a member in <strong>www.worldastrologersdirectory.com</strong> - vedic numerology you  can watch my profile. This site belongs all facilities like numerology, astrology, vaastu, products, remedies, matrimony, pandit booking block, mantras, babynames and also special feature sweetmemories block.</p>

          <p>The customer can enjoy with a <strong>free login</strong> and also <strong>Life Membership</strong>  in android mobile. Free login customer can enjoy  some fields only, after wards if he decided to become a life member he can pay through payroll option.</p>

          <p>If once you become a life member you will get a life time free service, so your lifesign profile will be updated for every two months and for numerology, lifesign, you will get 4 pdf files ,in that we wil cover name correction pdf, lifesign,stone,6years predictions. Matrimony is a highlighted option in our site, in this matrimony u can check the matching and original data of my client in a free option and also u can choose your favourate  matching patner with points and with numerology matching also. If u want the address details of my  client you must become a life member of my site then only u will get remaining data. If once you become a life member in our website you will get contact numbers and addresses . you have a pandit option also to book a near by  pandit from our site if you are interested. once the wedding card was printed we will post the free ad of your wedding card in our site from admin. Here the couple need to pay 1% amount to our institute through pay role option from our site.  If suppose  they fail to pay 1%percent amount after marriage the customer page will be  blocked and the customers references of the particular pages will be cancelled with all promo codes. So they are not eligible for next process in our site. Vaastu , mantras, remedies blocks also you can enjoy more.</p>

          <p>Another special feature is sweet memories specially added for students and also employees .In this block we concentrated  on students for get together the students below 24 yrs age can generate the profile in free to create their group to chat with their school or college mate friends. particularly the students who are facing problem for studies, job, love failure, careerstep we can guide them in a good way, if they attend for counseling and also they can ask any queries to pandit about their career in free of cost.if suppose if the student is not able to settled in their life before 25years then they can join as a life membership to know about their career In detail. </p>

          <p>I hope my website will show u a colorful life to every customer and I pray my god shiridi sai baba to give me energy to do nice service to my customer god.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>        
        </div>
      </div>
    </div>
  </div>

  <div id="gallery" class="row">
    <div class="col-sm-12">
      <div class="carousel fdi-Carousel slide">
        <!-- Carousel items -->
        <div class="carousel fdi-Carousel slide" id="eventCarousel" data-interval="0">
          <div class="carousel-inner onebyone-carosel">              
            <% DashboardImage.all.each_with_index do |di, i|%>
            <% if i == 0%>
              <div class="item active">
            <% else %>
              <div class="item ">
            <% end %>
                <div class="col-md-4">
                  <a href="#"><%= image_tag di.image.url, heigth: '250px', class: 'img-responsive center-block'%></a>                    
                </div>
              </div>
            <% end %>

          </div>
          <a class="left carousel-control" href="#eventCarousel" data-slide="prev"></a>
          <a class="right carousel-control" href="#eventCarousel" data-slide="next"></a>
        </div>
        <!--/carousel-inner-->
      </div><!--/myCarousel-->
    </div>
  </div>
  <br>
  <!-- <p>
    <%#= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=1500x300&markers=size:small%7Ccolor:red%7C17.8046123,83.3468775&key=AIzaSyCKniNe9ZVxg-y5h1pmDD7TILlv0tSEY_Y", alt: "Map" %>
  </p> -->
</div>


<!-- Appointment form code -->
<div class="modal fade" id="appointment_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Appointment Form</h4>
        </div>
        <div class="modal-body">
          <%= form_tag '/create_appointments', method: :post do %>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-12 ">
                  <!-- <div class="col-sm-3"> -->
                  <%#= label_tag "Councelling Type: " %>
                  <%= label_tag :councelling_type,'Councelling Type', class: "control-label " %><br />
                  <%= radio_button_tag :councelling_type, 'full' %>
                  <%= label_tag :councelling_type, "Full",class: "control-label"%> &nbsp;
                  <%= radio_button_tag :councelling_type, 'outline'%>
                  <%= label_tag :councelling_type, "Outline",class: "control-label"%>&nbsp;
                  <%= radio_button_tag :councelling_type, 'only_name_correction'%>
                  <%= label_tag :councelling_type, "Only Name Correction",class: "control-label"%>&nbsp;
                  <%= radio_button_tag :councelling_type, 'ndob'%>
                  <%= label_tag :councelling_type, "NDOB",class: "control-label"%>&nbsp;
                  <%= radio_button_tag :councelling_type, 'palmistry'%>
                  <%= label_tag :councelling_type, "Palmistry",class: "control-label"%>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <%= label_tag :surname,'SurName', class: "control-label " %><br /><%= text_field_tag :surname, "",class: "form-control" ,placeholder: "SurName"%>
                </div>
                <div class="col-sm-6">
                  <%= label_tag :Name,'Name', class: "control-label " %><br />
                  <%= text_field_tag :name, "",class: "form-control" ,placeholder: "Name"%>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <%= label_tag :date_of_appointment,'Date of Appointment', class: "control-label " %><br />
                  <%= date_field_tag :date_of_appointment, "",class: "form-control col-sm-6" ,placeholder: "Date of Appointment"%>
                </div>
                <div class="col-sm-6">
                  <%= label_tag :time_of_appointment,'Time of Appointment', class: "control-label " %><br />
                  <%= time_field_tag :time_of_appointment, "",class: "form-control col-sm-6" ,placeholder: "Time of Appointment"%>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <%= label_tag :date_of_birth,'Date of Birth', class: "control-label " %><br />
                  <%= date_field_tag :date_of_birth, "",class: "form-control col-sm-6" ,placeholder: "Date of Birth"%>
                </div>
                <div class="col-sm-6">
                  <%= label_tag :time_of_birth,'Time of Birth', class: "control-label " %><br />
                  <%= time_field_tag :time_of_birth, "",class: "form-control col-sm-6" ,placeholder: "Time of Birth"%>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <%= label_tag :place_of_birth,'Place of Birth', class: "control-label " %><br />
                  <%= text_field_tag :place_of_birth, "",class: "form-control col-sm-6" ,placeholder: "Place of Birth"%>
                </div>

                <div class="col-sm-6">
                  <%= label_tag :email,'Email', class: "control-label " %><br />
                  <%= email_field_tag :email, "",class: "form-control col-sm-6" ,placeholder: "Email"%>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <%= label_tag :phone,'Phone', class: "control-label " %><br />
                  <%= telephone_field_tag :phone, "",class: "form-control col-sm-6" ,placeholder: "Phone", :minlength => 10, :maxlength => 10, :size => 10, pattern: "^[0-9]*$"%>
                </div>

                <div class="col-sm-6">
                  <%= label_tag :address,'Address', class: "control-label " %><br />
                  <%= text_area_tag :address, "",class: "form-control col-sm-6" ,placeholder: "Address"%>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <%= label_tag :gender,'Gender', class: "control-label " %><br />
                  <%= radio_button_tag :gender, 'Male' %>
                  <%= label_tag :gender, "Male",class: "control-label"%> &nbsp;
                  <%= radio_button_tag :gender, 'Female' %>
                  <%= label_tag :gender, "Female",class: "control-label"%>
                </div>
                <div class="col-sm-6">
                  <%= label_tag :aadhar,'aadhar', class: "control-label " %><br />
                  <%= telephone_field_tag :aadhar, "",class: "form-control col-sm-6" ,placeholder: "Aadhar Number"%>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <%= label_tag :job,'Job', class: "control-label " %><br />
                  <%= select_tag :job, options_for_select([['Select Job',''],["Private",'private'], ["Government",'government'], ["Business",'business']]), class: "form-control"%>
                </div>
                <div class="col-sm-6">
                  <%= label_tag :caste,'Caste', class: "control-label " %><br />
                  <%= text_field_tag :caste, "",class: "form-control col-sm-6" ,placeholder: "Caste"%>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <%= label_tag :religion,'Religion', class: "control-label " %><br />
                  <%= text_field_tag :religion,'', class: "form-control", placeholder: "Religion"%>
                </div>
                <div class="col-sm-6">
                  <%= label_tag :reference,'Reference', class: "control-label " %><br />
                  <%= text_field_tag :reference, "",class: "form-control col-sm-6" ,placeholder: "Reference"%>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <%= label_tag :marital_status,'Marital Status', class: "control-label " %><br />
                  <%= select_tag :marital_status, options_for_select([['Select Marital Status',''],["Single",false], ["Married",true]]), class: "form-control"%>
                </div>
                <div class="col-sm-6">
                  <%= label_tag :payment_type,'Payment Type', class: "control-label " %><br />
                  <%= select_tag :payment_type, options_for_select([['Select Payment',''],["Cash",'cash'], ["Gpay","gpay"], ['PhonePay','phonepay'],['Paytm','paytm']]), class: "form-control"%>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <%= label_tag :reason,'Reason', class: "control-label " %><br />
                  <%= text_area_tag :reason, "",class: "form-control col-sm-6" ,placeholder: "Ask a question"%>
                </div>
                <div class="col-sm-6">
                  <%= label_tag :pay_amount,'Pay Amount', class: "control-label " %><br />
                  <%= text_field_tag :pay_amount, "",class: "form-control col-sm-6" ,placeholder: "Pay Amount"%>
                </div>
              </div>
            </div>
            <p><a
                href="https://www.google.com/maps/place/Sri+Sai+Lahari+Numerology+%26+Astrology+Center/@18.2883722,83.8959202,15z/data=!4m5!3m4!1s0x0:0x97ce55f536de718d!8m2!3d18.2883722!4d83.8959202"
                target="_blank"><i class="fa fa-2x fa-map-marker"></i></a> <a
                href="https://www.facebook.com/narayana.murtii?ref=bookmarks" target="_blank" class="fb-color"><i
                  class="fa fa-2x fa-facebook-square"></i></a> <a href="https://youtu.be/5O9DtfI4BBs" target="_blank"
                class="youtube-color"><i class="fa fa-2x fa-youtube-square"></i></a> <a href="https://twitter.com/home"
                target="_blank" class="fb-color"><i class="fa fa-2x fa-twitter-square"></i></a></p>
            <p></p>
            <div class="pull-right" style="margin-top: -30px;">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            <% end %>
        </div>
        <!-- <div class="modal-footer"> -->
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>         -->
        <!-- </div> -->
      </div>
    </div>
  </div>

<div class="modal fade" id="renewal_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Renewal Form</h4>
      </div>
      <div class="modal-body">
        <%= form_tag '/renew_appointments', method: :post do %>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-12">
                <!-- <div class="col-sm-3">
                  <%#= text_field_tag :ref_no , "#{Date.today.strftime('%y')} - FSLC -", disabled: true, class: "form-control"%>
                </div>
                
                <div class="col-sm-9"> -->
                  <%= text_field_tag :reference, "",class: "form-control" ,placeholder: "Reference"%>
                <!-- </div> -->
              </div>
            </div><br>
            <div class="row">
              <div class="col-sm-6">
                <%= date_field_tag :date_of_appointment, "",class: "form-control" ,placeholder: "Date"%>
              </div>
              <div class="col-sm-6">
                <%= time_field_tag :time_of_appointment, "",class: "form-control" ,placeholder: "Time"%>
              </div>
            </div><br>
            <div class="row">
              <div class="col-sm-6">
                <%= telephone_field_tag :phone, "",class: "form-control" ,placeholder: "Phone"%>
              </div>
              <div class="col-sm-6">
                <%= text_area_tag :reason, "",class: "form-control col-sm-6" ,placeholder: "Ask a question"%>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <%= text_field_tag :pay,'', class: "form-control", placeholder: "Amount"%>
              </div>
            </div>
          </div>
          
          <div class="pull-right" style="margin-top: -30px;">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
<!-- appointment form end -->
<audio controls autoplay loop id="audioplay">            
      <source src="<%= asset_path('backgroud-music.mp3') %>" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>

<script type="text/javascript">
   $(document).ready(function(){
    $('.carousel').carousel({
      interval: 2000
    })
  });  
</script>